/* Header */
.location-header {
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.location-map {
  background: url('/assets/mobile/image-map@2x.png') center / cover no-repeat;
  height: 550px;
}

/* Main */
.location {
  padding: 5.5rem 2.5rem 5.5rem;
  width: 100%;
  background: var(--clr-secondary-900);
  color: var(--clr-neutral-100);
}

.accent-color {
  color: var(--clr-primary-500);
}

.address {
  margin-bottom: 1.25rem;
}

/* Footer */

footer.accent-color {
  background: var(--clr-primary-500);
}

footer.accent-color p,
footer.accent-color a {
  color: var(--clr-secondary-900);
}

/* Tablet Version */

@media (min-width: 46em) {
  .button {
    left: 2.5rem;
  }

  .location-map {
    background: url('/assets/tablet/image-map@2x.png') center / cover no-repeat;
    height: 600px;
  }

  .location .container {
    display: flex;
    justify-content: space-between;
    gap: 5.6rem;
  }
}

/* Desktop Version */
@media (min-width: 70em) {
  .location-header {
    max-width: 1140px;
  }

  .button {
    left: 0em;
  }

  .location {
    outline: 1px solid pink;
  }

  .container {
    outline: 1px solid yellow;
  }
}
